body {
    font-family: Verdana, sans-serif;
    background-color: rgb(255,0,0);
}

article,footer {
    background-color: rgb(255, 192, 203);
}

article{
    padding: 0 10px;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

a {
    text-decoration: none;
    color: rgb(52, 81, 177);
}

a:hover {
    text-decoration: underline;
}

footer{
    margin-top: 15px;
}
